
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode header {
  background-color: #1e1e1e;
}

body.dark-mode .hero {
  background: linear-gradient(-45deg, #2c3e50, #4b79a1, #2c3e50, #6c5b7b);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

body.dark-mode .welcome {
  background-color: #222;
  color: #ddd;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode a {
  color: #81c784;
}
