---
import Layout from '../components/Layout.astro';
import Hero from '../components/Hero.astro';
import Welcome from '../content/welcome.md';
---
<Layout title="Scripture Scribbles">
  <Hero />
  <main>
    <section class="welcome">
      <Welcome />
    </section>
  </main>
</Layout>
