---
// No props needed yet
---
<header>
  <nav>
    <div class="logo">Scripture Scribbles</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/topics">Topics</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
